/* Favourites styles */
#favourites-container {
    display: none;
    position: fixed;
    z-index: 1000;
    background-color: rgba(66, 64, 64, 0.95);
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    color: cornsilk;
}

#favourites-container.show {
    display: block;
}

#favorite-list li {
    border-bottom: 1px solid #200000;
    padding: 10px;
    color: cornsilk;
}

#favorite-list li:last-child {
    border-bottom: none;
}

.button {
    background-color: rgba(116, 4, 4, 0.8);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.button:hover {
    background-color: rgba(174, 0, 0, 0.8);
}


/* Tablet Styles */
@media (min-width: 768px) {

    #favourites-container {
        font-size: 16px;
    }

}

/* Desktop Styles */
@media (min-width: 1024px) {
    .col-md-4 {
        top: auto;
        height: 500px;
    }

    #favourites-container {
        position: relative;
        height: calc(100%);
        width: 60%;
        background-color: rgba(200, 200, 200, 1);
        font-size: 18px;
        color: black;
    }

    #favorite-list li {
        color: black;
        margin: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #movieImage {
        width: 150px;
        height: auto;
    }

    #movieTitle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
    #favourites-container {
        display: block;
        font-size: 20px;
    }

    #close-favourites{
        display: none;
    }

    i.fa-solid.fa-f{
        display: none;
    }


}