/* Header Styles */
.header {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    gap: 10px;
    padding: 5px;
    background-color: #d9d9d9;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 50px;
    height: auto;
    margin-right: 10px; /* avstånd mellan bild och text */
}

.search-filter-container {
    display: flex;
    align-content: flex-start;
    gap: 10px;
    width: 100%;
}

.right-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-filter-container {
    margin-left: 0; /* Reset margin for mobile */
    width: 100%; /* Full width for mobile */
}

#search-bar {
    width: 65%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    margin: 5px 0 auto;
}

#filter-icon {
    align-items: center;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
}

#filter-icon i {
    font-size: 20px;
}

#filter-icon span {
    font-size: 16px;
    margin-left: 5px;

}

/* Filter container styles */
#filterContainer {
    width: 100%;
    background-color: #c6c6c6;
    z-index: 900;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 10px; /* Add margin to separate from header */

}


.genre-filter {
    display: inline-block;
    margin-right: 5px;
    border: 1px #0C2733;
    border-radius: 15px;
    cursor: pointer;
    background-color: #f1f1f1;
    max-height: 50px; /* Adjust as needed */
    overflow: hidden;
    padding: 1px 3px;
}

.genre-filter.selected {
    background-color: #858585;
    color: #fff;
}


/* Sort-by dropdown styles */
#sort-options {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

#sort-options:hover {
    border-color: #333;
}

#sort-options:focus {
    outline: none;
    border-color: #666;
}

/* light/dark mode switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #333;
}

input:focus + .slider {
    box-shadow: 0 0 1px #666;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Log in */
.login-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 90%;
    max-width: 400px;
}

.login-popup label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.login-popup input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-popup button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-popup button:hover {
    background-color: #555;
}

.hidden {
    display: none;
}

#login-popup {
    display: none; /* Ensure the login form is hidden by default */
}

#login-button {
    color: #333;
    cursor: pointer;
}

#login-button:hover {
    color: #555;
}


/* Footer Styles */
.footer {
    bottom: 0;
    width: 100%;
    background-color: #d9d9d9;
    text-align: center;
    padding: 10px;
    z-index: 1000;
}

/* Desktop */
@media (min-width: 1024px) {
    .footer {
        position: fixed;

    }
}