
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #d9d9d9;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.right-container {
    display: flex;
    align-items: center;
}

#login-icon {
    margin-right: 20px;
}

/* light/dark mode switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #333;
}

input:focus + .slider {
    box-shadow: 0 0 1px #666;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.header button {
    margin-left: 10px;
}

.header img {
    width: 50px;
    height: 50px;
    margin-right: 10px; /* avstånd mellan bild och text */
}

.header h2 {
    font-size: 24px; /* adjust the font size to your liking */
    font-weight: bold; /* make the text bold */
    display: inline-block; /* make the text display inline with the image */
    vertical-align: middle; /* center the text vertically with the image */
}

#logout-form {
    display: flex;
}

/* login.css */

#login-icon {
    position: relative;
    display: inline-block;
}


#login-button {
    font-size: 24px;
    cursor: pointer;
}

#login-popup label {
    display: block;
    margin-bottom: 5px;
}

#login-popup input[type="text"], #login-popup input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#login-popup {
    position: relative;
    top: 80%;
    right: 0;
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ccc;
    display: block;
}

#login-popup input[type="text"], #login-popup input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

#login-popup button {
    width: 100%;
    padding: 10px;
    background-color: #aaa6a6;
    color: #fff;
    border: none;
    cursor: pointer;
}

#login-popup button:hover {
    background-color: #939893;
}
