@import "header.css";
@import "_utils.css";
@import "media-queries.css";

/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f1f1f1;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Movie search styles */
#search-bar {
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    margin: 0 auto;
}

#filter-icon {
    display: inline-block;
    margin-left: 10px;
}

#filter-icon i {
    font-size: 20px;
}

#filter-icon span {
    font-size: 16px;
    margin-left: 5px;
}

/* main.css */
.genre-filter {
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f1f1f1;
}

.genre-filter.selected {
    background-color: #333;
    color: #fff;
}


/* Movie list styles */

/* Add this CSS to your existing styles */
#movieListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#movieListHeader i {
    margin-left: auto;
}

.container > .row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

.movie-list {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    width: 100%;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 20px;
}

.movie-item {
    display: flex;
    align-items: center;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}
/* main.css */
.movie-item:hover {
    background-color: aliceblue; /* Change to desired hover color */
}

.movie-item img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.movie-item-details {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.movie-item-details p {
    margin: 0;
}


.movie-item-details h3 {
    margin-bottom: 5px;
}

.movie-item-details .movie-title-container {
    display: flex;
    justify-content: space-between;
}


#movieTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}




.rating-container {
    display: flex;
    align-items: center;
}

.rating-container #movieRating {
    font-size: 0.75em;
    margin-right: 5px;
}

.rating-container #starIcon {
    margin-right: 5px;
}

#movieGenre {
    max-height: 50px; /* Adjust as needed */
    overflow: hidden;
}

/* Genre styles */
.genre {
    display: inline-block;
    margin-right: 5px;
    padding: 1px 3px;
    border: 1px solid #ccc;
    background-color: #b1abab;
    border-radius: 15px;
    font-size: 0.75em;
}


/* Adjust font size based on the number of genres */
#movieGenre.few-genres .genre {
    font-size: .75em;
}

#movieGenre.medium-genres .genre {
    font-size: 0.50em;
}

#movieGenre.many-genres .genre {
    font-size: 0.25em;
}

/* Sorting and filtering options */
#movieControls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#sort-options {
    padding: 5px;
}

#genre-filters {
    display: flex;
    flex-wrap: wrap;
}

#genre-filters label {
    margin-right: 10px;
}

#genre-filters input {
    margin-right: 5px;
}

/* Pagination controls */
#paginationControls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#paginationControls button {
    padding: 5px 10px;
    margin: 0 5px;
}

/* Hidden class */
.hidden {
    display: none;
}

/* Filter container */
#filterContainer {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

/* Favourites styles */
#favourites-container {
    display: none;
}

#favourites-container.show {
    display: block;
}