@import "header-footer.css";
@import "_utils.css";
@import "movie-details.css";

/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f1f1f1;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Tablet view */
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }

    h2 {
        font-size: 28px;
    }
}

/* Desktop view */
@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }

    h2 {
        font-size: 32px;
    }

}

/* main.css */

/* Adjust main content to account for fixed header, movieSearch, and footer */

.main-content {
    padding-top: 120px; /* Adjust based on header, movieSearch, and filterContainer height */
    padding-bottom: 40px; /* Adjust based on footer height */
}

/* Ensure the iframe covers the entire screen */
#movieDetailsFrame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001; /* Ensure it is above other elements */
    border: none; /* Remove any default border */
}
/* Movie list styles */

#movieListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#movieListHeader i {
    margin-left: auto;
}

.container > .row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

.movie-list {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    width: 100%;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 20px;

}

.movie-item {
    display: flex;
    align-items: center;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.movie-item:hover {
    background-color: aliceblue; /* Change to desired hover color */
}

.movie-item img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.movie-item-details {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.movie-item-details p {
    margin: 0;
}


.movie-item-details h3 {
    margin-bottom: 5px;
}

.movie-item-details .movie-title-container {
    display: flex;
    justify-content: space-between;
}


#movieTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}


.rating-container {
    display: flex;
    align-items: center;
}

.rating-container #movieRating {
    font-size: 0.75em;
    margin-right: 5px;
}

.rating-container #starIcon {
    margin-right: 5px;
}

/* Genre styles */
.genre {
    display: inline-block;
    max-height: 50px; /* Adjust as needed */
    overflow: hidden;
    margin-right: 5px;
    padding: 1px 3px;
    border: 1px solid #ccc;
    background-color: #b1abab;
    border-radius: 15px;
    font-size: 0.75em;
}


/* Adjust font size based on the number of genres */
#movieGenre.few-genres .genre {
    font-size: .75em;
}

#movieGenre.medium-genres .genre {
    font-size: 0.50em;
}

#movieGenre.many-genres .genre {
    font-size: 0.25em;
}

/* Sorting and filtering options */
#movieControls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#sort-options {
    padding: 5px;
}

#genre-filters {
    display: flex;
    flex-wrap: wrap;
}

#genre-filters label {
    margin-right: 10px;
}

#genre-filters input {
    margin-right: 5px;
}

/* Pagination controls */
#paginationControls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#paginationControls button {
    padding: 5px 10px;
    margin: 0 5px;
}

/* Hidden class */
.hidden {
    display: none;
}

/* Filter container */
#filterContainer {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

/* Favourites styles */
#favourites-container {
    display: none;
    position: fixed;
    z-index: 900;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    top: 120px;
    bottom:40px;
    left: 0;
    right: 0;
    overflow-y: auto;
}

#favourites-container.show {
    display: block;
}

/* Desktop */
@media (min-width: 1024px) {
    #favourites-container {
        position: -ms-device-fixed;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
        background-color: #d3d3d3;
        border: 1px solid #6c6c6c;
        left: 60%;
        top: 20%;
        width: 30%;
        height: auto;

        font-size: 20px;
    }

    #movieList {
        width: 70%;
    }
}

.hidden {
    display: none;
}