@import "header.css";
@import "_utils.css";
/* global.css */
/* mobile first*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f1f1f1;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* media queries tablet and desktop*/
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }

    h2 {
        font-size: 28px;
    }

}

@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }

    h2 {
        font-size: 32px;
    }
}


/* movie search styles*/
#search-bar {
    width: 70%; /* adjust the width of the search bar */
    border: 1px solid #ccc; /* add a border to the search bar */
    border-radius: 4px;
    padding: 10px; /* add some padding to the search bar */
    font-size: 16px; /* adjust the font size of the search bar */
    margin: 0 auto; /* to center the section on the page */
}

#filter-icon {
    display: inline-block; /* make the filter icon display inline-block */
    margin-left: 10px; /* add some margin to the left of the filter icon */
}

#filter-icon i {
    font-size: 20px; /* adjust the font size of the filter icon */
}

#filter-icon span {
    font-size: 16px; /* adjust the font size of the filter text */
    margin-left: 5px; /* add some margin to the left of the filter text */
}

/* movie-details.css */

.movie-list-header {
    display: flex;
    align-items: center;
    font-size: 24px; /* Justera font-storleken för mobil-vy */
}

.movie-list-header i {
    margin-left: 10px;
}

.main-content #movieListHeader {
    font-size: 36px; /* adjust the font size */
    font-weight: bold; /* make the text bold */
    color: #333; /* change the text color */
    text-align: center; /* center the text */
    margin-bottom: 20px; /* add some space below the header */

}

/* movie list styles */
.container > .row{
    /* Ange bredden till 100% för mobil-vy */
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}
/* movie-list.css */

.movie-list {
    display: flex;
    flex-direction: row;
    justify-content: center; /* to center the section on the page */
    width: 100%; /* Ange bredden till 100% för mobil-vy */
    border: 2px solid #333; /* tjockare border */
    border-radius: 8px; /* mer rundade hörn */
    padding: 20px; /* mer padding */
}
#movieListDetails {
    border: 1px solid #ccc;
    border-collapse: collapse;
    font-size: inherit;
    width: 100%;
}

#movieListDetails th, #movieListDetails td {
    border: 1px solid #ccc;
    padding: 10px;
    flex-grow: 1;
}

.container > table {
    border-collapse: collapse;
    width: 100%;
}

.container >th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.container > th {
    background-color: #f0f0f0;
}

/* movie-details styles */
#movieTitle {
    max-width: 200px; /* Ange den maximala bredden du vill ha */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#movieDirector {
    max-width: 200px; /* Ange den maximala bredden du vill ha */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 768px) {
    #movieTitle {
        max-width: 300px; /* Ange den maximala bredden du vill ha */
    }
}
@media (min-width: 1024px) {
    #movieTitle {
        max-width: 400px; /* Ange den maximala bredden du vill ha */
    }
}


/* favourites styles */
#favourites-container {
    display: none; /* Dölj favourite-listan  */
}
#favourites-container.show {
    display: block;
}



