/* Tablet view */
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }

    h2 {
        font-size: 28px;
    }

    #movieTitle {
        max-width: 300px;
    }
}

/* Desktop view */
@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }

    h2 {
        font-size: 32px;
    }

    #movieTitle {
        max-width: 400px;
    }
}