/* Mobile Styles */
#movie-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#movieDisplayed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    z-index: 1001;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

#movieDisplayed .info-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

#movieDisplayed h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#movieDisplayed p,
#movieDisplayed ul {
    width: 100%;
    margin-bottom: 10px;
}

#movieDisplayed textarea {
    width: 100%;
    height: 100px;
    overflow-y: auto;
    resize: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#movie-displayed button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff6f61;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.image-info-container .movieCover {
    display: none;
}

/* Styling for the close button */
#closeMovieDetails {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
}

#closeMovieDetails:hover {
    background-color: #e65b54;
}

#closeMovieDetails:active {
    background-color: #cc5048;
}

/* desktop */
@media (min-width: 1024px) {

    #movieDisplayed {
        position: relative;
        display: flex;
        flex-direction: row;
        background-image: none;
    }
    #movieDisplayed.hidden {
        display: none;
    }

    #movieDisplayed .image-info-container img {
        display: block; /* Ensure the image is displayed */
        margin-right: 20px;
    }

    #movieDisplayed .image-info-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    #movieDisplayed .info-container {
        width: 60%;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }

    #movieDisplayed .image-info-container img {
        width: 150px;
        height: auto;
        margin-right: 20px;
    }

    #movieDisplayed .top-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 10px;
        border-radius: 5px;
    }

    #movieDisplayed .top-info h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    #movieDisplayed .top-info i {
        margin-bottom: 10px;
    }

    #movieDisplayed .top-info p {
        font-size: 18px;
        margin-bottom: 5px;
    }

    #movieDisplayed p,
    #movieDisplayed ul {
        font-size: 18px;
    }

    #movieDisplayed textarea {
        height: 150px;
    }

    #closeMovieDetails {
        font-size: 14px;
        padding: 10px 15px;
    }
}

